@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Fira+Code:wght@300;400&family=Montserrat+Alternates:wght@300&family=Roboto+Mono:wght@300&family=Roboto:wght@300;400;500&family=Saira+Condensed&family=Source+Code+Pro:wght@300&family=Updock&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
  padding: 0;
  line-height: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  color:#ffbc5e;
}

em {
  color: #1A476B;
}